labs/lab4/Lab_4-_External_Sources.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Lab 4: External Sources</name><snippet><processGroups><id>bb9ebcda-1e33-4678-8119-394bac79f2ab</id><parentGroupId>bf55f4d4-dd4c-40ec-9a02-f08ec03fdaed</parentGroupId><position><x>526.8538818359375</x><y>224.06591796875</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>a13648a5-611c-4d1a-bada-273dd38173e7</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>7b851441-10be-4aee-8bf9-e682579b67fd</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>9980acf5-b461-4e71-817a-e584ab9a3496</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1b9b9807-026f-4a7c-80d2-3f04bcf06889</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>e2b74d61-4941-4dca-b7c6-d95c5e89ccfc</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>f7b1a1ca-b3c5-4def-b6a4-4881fa90a2e7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>9e4f91cf-f754-467a-8800-e98eaa3b6023</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>d039d7ef-ddc2-487c-872c-acbba2831008</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>162fbf08-e74d-4747-aeb3-edf5b9ef9e08</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>f06521fe-4d06-49ce-bb7a-f69d8a4a2e1e</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1004.000000183863</x><y>115.99999991644958</y></bends><bends><x>1004.000000183863</x><y>165.99999991644958</y></bends><destination><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>d039d7ef-ddc2-487c-872c-acbba2831008</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>comms.failure</selectedRelationships><source><groupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</groupId><id>d039d7ef-ddc2-487c-872c-acbba2831008</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><labels><id>e9ae71ec-8966-4812-bec7-f2a13afad809</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>35.0</x><y>51.0</y></position><height>424.0</height><label>Some Sample Processors</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>902.0</width></labels><labels><id>52b3d251-6249-48de-9d18-4fb1ebe50c62</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>37.0</x><y>653.0</y></position><height>151.0</height><label>Lab 4: Reference</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>881.0</width></labels><processors><id>7b851441-10be-4aee-8bf9-e682579b67fd</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>590.0</x><y>688.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known Kafka Brokers in the format &lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The Kafka Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Strategy</key><value><allowableValues><description>Messages will be assigned partitions in a round-robin fashion, sending the first message to Partition 1, the next Partition to Partition 2, and so on, wrapping as necessary.</description><displayName>Round Robin</displayName><value>Round Robin</value></allowableValues><allowableValues><description>Messages will be assigned to random partitions.</description><displayName>Random</displayName><value>Random Robin</value></allowableValues><allowableValues><description>The &lt;Partition&gt; property will be used to determine the partition. All messages within the same FlowFile will be assigned to the same partition.</description><displayName>User-Defined</displayName><value>User-Defined</value></allowableValues><defaultValue>Round Robin</defaultValue><description>Specifies how messages should be partitioned when sent to Kafka</description><displayName>Partition Strategy</displayName><dynamic>false</dynamic><name>Partition Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Partition</key><value><description>Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then all messages within the same FlowFile will use the same partition but it remains undefined which partition is used.</description><displayName>Partition</displayName><dynamic>false</dynamic><name>Partition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Kafka Key</key><value><description>The Key to use for the Message</description><displayName>Kafka Key</displayName><dynamic>false</dynamic><name>Kafka Key</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delivery Guarantee</key><value><allowableValues><description>FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss.</description><displayName>Best Effort</displayName><value>0</value></allowableValues><allowableValues><description>FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than &lt;Guarantee Replicated Delivery&gt; but can result in data loss if a Kafka node crashes</description><displayName>Guarantee Single Node Delivery</displayName><value>1</value></allowableValues><allowableValues><description>FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration</description><displayName>Guarantee Replicated Delivery</displayName><value>all</value></allowableValues><defaultValue>0</defaultValue><description>Specifies the requirement for guaranteeing that a message is sent to Kafka</description><displayName>Delivery Guarantee</displayName><dynamic>false</dynamic><name>Delivery Guarantee</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>5 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to Kafka</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Record Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum size that any individual record can be.</description><displayName>Max Record Size</displayName><dynamic>false</dynamic><name>Max Record Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Async Batch Size</key><value><defaultValue>200</defaultValue><description>The number of messages to send in one batch. The producer will wait until either this number of messages are ready to send or &quot;Queue Buffering Max Time&quot; is reached.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Async Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Queue Buffering Max Time</key><value><defaultValue>5 secs</defaultValue><description>Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.</description><displayName>Queue Buffering Max Time</displayName><dynamic>false</dynamic><name>Queue Buffering Max Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Codec</key><value><allowableValues><description>Compression will not be used for any topic.</description><displayName>None</displayName><value>none</value></allowableValues><allowableValues><description>Compress messages using GZIP</description><displayName>GZIP</displayName><value>gzip</value></allowableValues><allowableValues><description>Compress messages using Snappy</description><displayName>Snappy</displayName><value>snappy</value></allowableValues><defaultValue>none</defaultValue><description>This parameter allows you to specify the compression codec for all data generated by this producer.</description><displayName>Compression Codec</displayName><dynamic>false</dynamic><name>Compression Codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Name</key><value><defaultValue>NiFi-7b851441-10be-4aee-8bf9-e682579b67fd</defaultValue><description>Client Name to use when communicating with Kafka</description><displayName>Client Name</displayName><dynamic>false</dynamic><name>Client Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>localhost:6667</value></entry><entry><key>Topic Name</key><value>test</value></entry><entry><key>Partition Strategy</key></entry><entry><key>Partition</key></entry><entry><key>Kafka Key</key></entry><entry><key>Delivery Guarantee</key></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key></entry><entry><key>Max Record Size</key></entry><entry><key>Communications Timeout</key></entry><entry><key>Async Batch Size</key></entry><entry><key>Queue Buffering Max Time</key></entry><entry><key>Compression Codec</key></entry><entry><key>Client Name</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutKafka</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be sent to Kafka will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to Kafka will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kafka.PutKafka</type></processors><processors><id>d039d7ef-ddc2-487c-872c-acbba2831008</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>595.000000183863</x><y>90.99999991644958</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully-qualified hostname or IP address of the host to fetch the data from</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote File</key><value><description>The fully qualified filename on the remote system</description><displayName>Remote File</displayName><dynamic>false</dynamic><name>Remote File</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Move the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the remote system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory on the remote server to the move the original file to once it has been ingested into NiFi. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. The specified directory must already exist onthe remote system, or the rename will fail.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Compression</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not ZLIB compression should be used when transferring files</description><displayName>Use Compression</displayName><dynamic>false</dynamic><name>Use Compression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>${sftp.remote.host}</value></entry><entry><key>Port</key><value>${sftp.remote.port}</value></entry><entry><key>Username</key><value>${sftp.listing.user}</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote File</key><value>${path}/${filename}</value></entry><entry><key>Completion Strategy</key><value>None</value></entry><entry><key>Move Destination Directory</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>Send Keep Alive On Timeout</key><value>true</value></entry><entry><key>Host Key File</key></entry><entry><key>Strict Host Key Checking</key><value>false</value></entry><entry><key>Use Compression</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchSFTP</name><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to a communications failure will be transferred to this Relationship.</description><name>comms.failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile for which we receive a 'Not Found' message from the remote server will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to insufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchSFTP</type></processors><processors><id>f7b1a1ca-b3c5-4def-b6a4-4881fa90a2e7</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>53.000000183862994</x><y>220.9999999164496</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Base Path</key><value><defaultValue>contentListener</defaultValue><description>Base path for incoming connections</description><displayName>Base Path</displayName><dynamic>false</dynamic><name>Base Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Base Path</key><value>hello</value></entry><entry><key>Listening Port</key><value>8188</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Authorized DN Pattern</key><value>.*</value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value>60 secs</value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenHTTP</name><relationships><autoTerminate>false</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenHTTP</type></processors><processors><id>050b292a-edd3-41f8-8555-30869cf85182</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>53.000000183862994</x><y>355.9999999164496</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Protocol</key><value><allowableValues><displayName>TCP</displayName><value>TCP</value></allowableValues><allowableValues><displayName>UDP</displayName><value>UDP</value></allowableValues><defaultValue>UDP</defaultValue><description>The protocol for Syslog communication, either TCP or UDP.</description><displayName>Protocol</displayName><dynamic>false</dynamic><name>Protocol</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Port</key><value><description>The port for Syslog communication.</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context. If this property is set, syslog messages will be received over a secure connection.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Receive Buffer Size</key><value><defaultValue>65507 B</defaultValue><description>The size of each buffer used to receive Syslog messages. Adjust this value appropriately based on the expected size of the incoming Syslog messages. When UDP is selected each buffer will hold one Syslog message. When TCP is selected messages are read from an incoming connection until the buffer is full, or the connection is closed. </description><displayName>Receive Buffer Size</displayName><dynamic>false</dynamic><name>Receive Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Size of Socket Buffer</key><value><defaultValue>1 MB</defaultValue><description>The maximum size of the socket buffer that should be used. This is a suggestion to the Operating System to indicate how big the socket buffer should be. If this value is set too low, the buffer may fill up before the data can be read, and incoming data will be dropped.</description><displayName>Max Size of Socket Buffer</displayName><dynamic>false</dynamic><name>Max Size of Socket Buffer</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Number of TCP Connections</key><value><defaultValue>2</defaultValue><description>The maximum number of concurrent connections to accept Syslog messages in TCP mode.</description><displayName>Max Number of TCP Connections</displayName><dynamic>false</dynamic><name>Max Number of TCP Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Batch Size</key><value><defaultValue>1</defaultValue><description>The maximum number of Syslog events to add to a single FlowFile. If multiple events are available, they will be concatenated along with the &lt;Message Delimiter&gt; up to this configured maximum number of messages</description><displayName>Max Batch Size</displayName><dynamic>false</dynamic><name>Max Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><defaultValue>\n</defaultValue><description>Specifies the delimiter to place between Syslog messages when multiple messages are bundled together (see &lt;Max Batch Size&gt; property).</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Parse Messages</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates if the processor should parse the Syslog messages. If set to false, each outgoing FlowFile will only contain the sender, protocol, and port, and no additional attributes.</description><displayName>Parse Messages</displayName><dynamic>false</dynamic><name>Parse Messages</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set of the Syslog messages</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Protocol</key><value>UDP</value></entry><entry><key>Port</key><value>1514</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Receive Buffer Size</key><value>65507 B</value></entry><entry><key>Max Size of Socket Buffer</key><value>1 MB</value></entry><entry><key>Max Number of TCP Connections</key><value>2</value></entry><entry><key>Max Batch Size</key><value>1</value></entry><entry><key>Message Delimiter</key><value>\n</value></entry><entry><key>Parse Messages</key><value>true</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenSyslog</name><relationships><autoTerminate>false</autoTerminate><description>Syslog messages that do not match one of the expected formats will be sent out this relationship as a FlowFile per message.</description><name>invalid</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Syslog messages that match one of the expected formats will be sent out this relationship as a FlowFile per message.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenSyslog</type></processors><processors><id>e2b74d61-4941-4dca-b7c6-d95c5e89ccfc</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>597.000000183863</x><y>221.9999999164496</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>9980acf5-b461-4e71-817a-e584ab9a3496</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>54.0</x><y>690.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Base Path</key><value><defaultValue>contentListener</defaultValue><description>Base path for incoming connections</description><displayName>Base Path</displayName><dynamic>false</dynamic><name>Base Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Base Path</key></entry><entry><key>Listening Port</key><value>9091</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Authorized DN Pattern</key></entry><entry><key>Max Unconfirmed Flowfile Time</key></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenHTTP</name><relationships><autoTerminate>false</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenHTTP</type></processors><processors><id>162fbf08-e74d-4747-aeb3-edf5b9ef9e08</id><parentGroupId>bb9ebcda-1e33-4678-8119-394bac79f2ab</parentGroupId><position><x>52.000000183862994</x><y>85.99999991644958</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully qualified hostname or IP address of the remote system</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Path</key><value><defaultValue>.</defaultValue><description>The path on the remote system from which to pull or push files</description><displayName>Remote Path</displayName><dynamic>false</dynamic><name>Remote Path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from the remote server so that if a new node begins pulling data, it won't duplicate all of the work that has been done. If not specified, the information will not be shared across the cluster. This property does not need to be set for standalone instances of NiFi but should be configured if NiFi is run within a cluster.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Search Recursively</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories</description><displayName>Search Recursively</displayName><dynamic>false</dynamic><name>Search Recursively</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter Regex</key><value><description>Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched</description><displayName>File Filter Regex</displayName><dynamic>false</dynamic><name>File Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter Regex</key><value><description>When Search Recursively is true, then only subdirectories whose path matches the given Regular Expression will be scanned</description><displayName>Path Filter Regex</displayName><dynamic>false</dynamic><name>Path Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Dotted Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, files whose names begin with a dot (&quot;.&quot;) will be ignored</description><displayName>Ignore Dotted Files</displayName><dynamic>false</dynamic><name>Ignore Dotted Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>localhost</value></entry><entry><key>Port</key><value>22</value></entry><entry><key>Username</key><value>anonymous</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote Path</key><value>.</value></entry><entry><key>Distributed Cache Service</key></entry><entry><key>Search Recursively</key><value>false</value></entry><entry><key>File Filter Regex</key></entry><entry><key>Path Filter Regex</key></entry><entry><key>Ignore Dotted Files</key><value>true</value></entry><entry><key>Strict Host Key Checking</key><value>false</value></entry><entry><key>Host Key File</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>Send Keep Alive On Timeout</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListSFTP</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListSFTP</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>1</invalidCount><name>Lab 4: External Sources</name><outputPortCount>0</outputPortCount><parent><id>bf55f4d4-dd4c-40ec-9a02-f08ec03fdaed</id><name>NiFi Flow</name></parent><runningCount>2</runningCount><stoppedCount>4</stoppedCount></processGroups></snippet><timestamp>02/08/2016 09:48:58 GMT</timestamp></template>